<script type="text/javascript">
    RED.nodes.registerType('events-in', {
        category: 'input',
        color: '#a6bbcf',
        defaults: {
            name: {value: ""},
        },
        inputs: 0,
        outputs: 1,
        label: function () {
            return this.name || "events-in";
        }
    });
</script>


<script type="text/x-red" data-template-name="events-in">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Event-Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>

<script type="text/x-red" data-help-name="events-in">
    <p>Incoming NodeJS Events</p>
</script>